.todo-list-item{
    width: 400px;
}

.todo-list-item:hover{
    background-color: #ccc;
}

.open-list-item {
    background-color: #eee;
}

.open-list-item:hover{
    background-color: #eee;
}

.history-tag{
    background-color: #000088;
    color: #fff;
}

.hidden {
    display: none!important;
}

.todo-history p {
    font-size: 12px;
}

.hover-options-container{
    position: absolute;
    width: 200px;
    height: 60px;
    top: -2px;
    left: 0px;
    z-index: 15;
}

.hover-options{
    margin: auto;
    text-align: center;
    z-index: 15;
    background-color: #ccc;
    box-shadow: 3px 0px 5px #777;
    border-radius: 5px;
}

mat-card {
    z-index: 5;
}

.option-button {
    position: absolute;
    right: 70px;
    top: 10px;
}



.hover-option-area {
    position: absolute;
    right: 20px;
    top: 10px;
    width: 40px;
    height: 40px;
}

mat-card h4 {
    display: inline-block;
}

.todo-list-item h4 {
    margin-bottom: 0;
    width: 300px;
    word-wrap: break-word;
    word-break: break-all;
}

mat-card{
    position: relative;
}

